@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito"),
       local("Nunito-Regular"),
       url(/fonts/Nunito-Regular.woff2) format("woff2"),
       url(/fonts/nunito-regular.woff) format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Nunito-Bold"),
       url(/fonts/Nunito-Bold.woff2) format("woff2"),
       url(/fonts/Nunito-Bold.woff) format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Nunito-Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Nunito-Black"),
       url(/fonts/Nunito-Black.woff2) format("woff2"),
       url(/fonts/Nunito-Black.woff) format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"),
       url(/fonts/OpenSans-Regular.woff2) format("woff2"),
       url(/fonts/opensans-regular.woff) format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans-Bold"),
       url(/fonts/OpenSans-Bold.woff2) format("woff2"),
       url(/fonts/opensans-bold.woff) format("woff");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
  }
  html { height: 101%; } /* always display scrollbars */
  body { 
    font-size: 62.5%; 
    line-height: 1; 
    font-family: OpenSans, Arial, Tahoma, Verdana, sans-serif;
    color: #24201E;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }
  
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 
  
  input { outline: none; }
  
  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }
  
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
  *, *:after, *:before {
    box-sizing: border-box;
  }
  
p {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

  
h1 {
    font-family: "Nunito-Bold";
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    font-size: 64px;
  }

h2 {
    font-family: 'Nunito-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  