.lk-chat-block {
    margin: 20px 0 0;
    gap: 20px;
    height: 70vh;
    max-height: 70vh;
    flex-grow: 1;
}

.lk-chat-block_users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lk-chat-block__users_item {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #d4d5d533;
    padding: 15px;
    background: #d4d5d533;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Nunito";
    transition: all 0.5s;
}

.lk-chat-block__users_item:hover,
.lk-chat-block__users_item.active:hover {
    background: #FEF7FF;
    border: 1px solid var(--main-color);
    text-decoration: none;
}

.lk-chat-block__users_item.active {
    background: #FCEDFF;
    border: 1px solid #FCEDFF;
}

.lk-chat-block__users_item>div {
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    font-size: 15px;
    font-weight: 600;
    color: var(--colorFontContent);
}

.lk-chat-block__users_item>div>div {
    padding: 5px;
    display: flex;
    color: var(--colorWhiteText);
    background: var(--colorBlockCardTwo);
    border-radius: 50%;
    font-size: 12px;
    aspect-ratio: 1 / 1;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -10px;
    left: 10px;
    transition: all 0.5s;
}

.lk-chat-block__users_item.active>div>div {
    background: #9C16B9;
}

.lk-chat-block__users_item:hover>div>div,
.lk-chat-block__users_item.active:hover>div>div {
    background: var(--main-color);
}

.lk-chat-block__users_item>div>div.inert {
    display: none;
}

.lk-chat-block__users_item>div:nth-child(2) {
    font-weight: 500;
    line-height: 15px;
    font-size: 15px;
    color: var(--colorFontContent);
    transition: all 0.5s;
}

.lk-chat-block__users_item.active>div:nth-child(2) {
    color: #9C16B9;
}

.lk-chat-block__users_item:hover>div:nth-child(2),
.lk-chat-block__users_item.active:hover>div:nth-child(2) {
    color: var(--main-color);
}

.lk-chat-block__users_item>div:nth-child(3) {
    padding-top: 5px;
    font-weight: 500;
    line-height: 15px;
    font-size: 14px;
}

.lk-chat-block_talk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.lk-chat-block_messages {
    padding: 15px;
    height: calc(70vh - 50px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: 5px;
    scrollbar-color: var(--scrollbarThumb) #FEF7FF !important;
}

.lk-chat-block_message {
    border-radius: 15px;
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lk-chat-block_message>:nth-child(1) {
    padding: 15px 20px;
    border-radius: 15px;
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    border: 1px solid #9C16B9;
    width: fit-content;
    max-width: 80%;
}

.lk-chat-block_message>:nth-child(2) {
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-flex;
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    border: 1px solid #9C16B9;
    background: var(--colorWhiteText);
    gap: 5px;
    width: fit-content;
}

.lk-chat-block_message>:nth-child(2)>span {
    color: #9C16B9;
}

.lk-chat-block_message.ego {
    align-items: flex-end;
}

.lk-chat-block_message.ego>div:nth-child(1) {
    background: #9C16B9;
    color: var(--colorWhiteText);
    padding-right: 5px;
}

.lk-chat-block_message.ego>div:nth-child(1)::after {
    display: block;
    content: '';
    position: relative;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3e%3cpath fill='%23fff' fill-rule='evenodd' d='M14.295 4.83a1.125 1.125 0 0 1 0 1.59l-6.75 6.75a1.125 1.125 0 0 1-1.59 0l-2.25-2.25a1.125 1.125 0 0 1 1.59-1.59l1.455 1.455 5.955-5.955a1.125 1.125 0 0 1 1.59 0Z' clip-rule='evenodd' opacity='.5'/%3e%3c/svg%3e ");
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-left: 7px;
    top: 15px;
}

.lk-chat-block_message.ego.active>div:nth-child(1)::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3e%3cmask id='a' width='19' height='14' x='0' y='2' maskUnits='userSpaceOnUse' style='mask-type:luminance'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m1.5 10.125 3 3 8.063-8.063'/%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4.5' d='m5.625 10.125 3 3 8.063-8.063'/%3e%3c/mask%3e%3cg mask='url(%23a)'%3e%3cpath fill='%23fff' d='M0 0h18v18H0V0Z'/%3e%3c/g%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m5.625 10.125 3 3 8.063-8.063'/%3e%3c/svg%3e ");
}

.lk-chat-block_message.talker {
    align-items: flex-start;
}

.lk-chat-block_message.talker>div:nth-child(1) {
    background: #FEF7FF;
}

.lk-chat-block_message_unread-message {
    text-align: center;
    background: #CC7DC3;
    height: 3px;
    margin: 20px 0;
}

.lk-chat-block_message_unread-message>span {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    background: var(--colorWhiteText);
    border-radius: 15px;
    color: #CC7DC3;
    border: 1px solid #CC7DC3;
    display: inline-block;
    position: relative;
    top: -17px;
}

.lk-chat-block_talk_scroll {
    padding: 2px 6px 2px 0;
    border-radius: 15px;
    border: 1px solid var(--main-color);
    background-image: url("https://cdn.nyutonika.ru/icons-lk/chat-fon.svg");
}

.lk-chat-block_messages::-webkit-scrollbar {
    width: 5px;
}

.lk-chat-block_messages::-webkit-scrollbar-track {
    background: transparent !important;
}

.lk-chat-block_messages::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.lk-chat-block_talk_send>div {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: 50px;
    gap: 10px;
}

.lk-chat-block_talk_send textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0;
    border-radius: 15px;
    border: 1px solid #f6f7f7;
    padding: 15px;
    background: #f6f7f7;
    transition: all 0.3s;
    color: var(--colorFontContent);
    font-size: 15px;
    line-height: normal;
    width: 100%;
    min-height: 50px;
    overflow-y: hidden;
    resize: none;
}

.lk-chat-block_talk_send textarea::-webkit-scrollbar {
    display: none;
}

.lk-chat-block_talk_send textarea:focus {
    border: 1px solid var(--main-color);
}

.lk-chat-block_talk_send textarea::placeholder {
    font-size: 15px;
}

.lk-chat-block_talk_send button {
    display: block;
    background: none;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='63' height='63' fill='none' viewBox='0 0 63 63'%3e%3crect width='63' height='63' fill='%239C16B9' rx='31.5'/%3e%3cpath fill='%23fff' d='m57.098 30.435-38.5-19.25a1.75 1.75 0 0 0-1.89.21 1.75 1.75 0 0 0-.577 1.75l4.637 17.097H40.56v3.5H20.768l-4.707 17.045a1.75 1.75 0 0 0 1.75 2.205 1.75 1.75 0 0 0 .787-.192l38.5-19.25a1.75 1.75 0 0 0 0-3.115Z'/%3e%3c/svg%3e ");
}

.lk-chat-block_talk_send button:disabled {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63 63'%3e%3crect width='63' height='63' fill='%23D589CC' rx='31.5'/%3e%3cpath fill='%23fff' d='m57.098 30.435-38.5-19.25a1.75 1.75 0 0 0-1.89.21 1.75 1.75 0 0 0-.577 1.75l4.637 17.097H40.56v3.5H20.768l-4.707 17.045a1.75 1.75 0 0 0 1.75 2.205 1.75 1.75 0 0 0 .787-.192l38.5-19.25a1.75 1.75 0 0 0 0-3.115Z'/%3e%3c/svg%3e ");
}

.lk-chat-block_talk_send button>span {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #AE00D4;
    border: 1px solid;
    color: var(--colorWhiteText);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -23px;
    left: 23px;
    font-weight: 700;
    font-family: "Nunito";
}

.lk-chat-block_talk_send button:disabled>span {
    background: var(--main-color);
}

.lk-chat-block_talk_mobile {
    padding: 0;
    background: none;
    height: 100vh;
}

.lk-chat-block_talk_mobile .uk-modal-dialog {
    height: 100%;
    min-height: 100%;
}

.lk-chat-block_talk_mobile .lk-chat-block_messages {
    height: 100%;
    max-height: 100% !important;
    background-image: url("https://cdn.nyutonika.ru/icons-lk/chat-fon.svg");
    padding: 15px 20px;
}

.lk-chat-block_talk_mobile .uk-modal-header {
    padding: 15px;
    background: #9C16B9;
    background-image: url("https://cdn.nyutonika.ru/icons-lk/img-title-chat2.svg");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lk-chat-block_talk_mobile .lk-chat-block_message>:nth-child(1) {
    max-width: 95%;
}

.lk-chat-block_talk_mobile .uk-modal-footer {
    border-top: 1px solid #9C16B9;
    padding: 10px 15px 10px 20px;
}

.lk-chat-block_talk_mobile .lk-chat-block_talk_send>div {
    grid-template-columns: auto 50px;
    grid-template-rows: 40px;
    gap: 5px;
}

.lk-chat-block_talk_mobile .lk-chat-block_talk_send button {
    background-position-x: right;
}

.lk-chat-block_talk_mobile .lk-chat-block_talk_send button>span {
    width: 25px;
    min-width: 25px;
    height: 25px;
    top: -21px;
    left: 27px;
}

.lk-chat-block_talk_mobile .lk-chat-block_talk_send textarea {
    padding: 8px 15px;
    min-height: 45px;
}

.lk-chat-block_talk_mobile .uk-modal-header>div {
    color: var(--colorWhiteText);
    padding-left: 35px;
}

.lk-chat-block_talk_mobile_title-rod {
    display: flex;
    gap: 5px;
    padding-left: 10px !important;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    left: -15px;
}

.lk-chat-block_talk_mobile_title-rod>div {
    font-weight: 800;
    font-family: "Nunito";
    color: var(--colorWhiteText);
    font-size: 1.2rem;
    line-height: 1.1;
    background: #ffffff33;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 20px;
}

.lk-chat-block_talk_mobile-modal-close svg {
    display: none;
}

.lk-chat-block_talk_mobile_title-rod>button {
    background-image: url("https://cdn.nyutonika.ru/icons-lk/button-chat-close.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lk-chat-block_talk_mobile_title-uch {
    font-size: 1rem;
    font-weight: 500;
}

.lk-chat-block_talk_mobile_title-dicr {
    font-size: .75rem;
}