@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Nunito"),
    local("Nunito-Regular"),
    url(../fonts/Nunito-Regular.woff2) format("woff2"),
    url(../fonts/nunito-regular.woff) format("woff");

}

@font-face {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Nunito-Bold"),
    url(../fonts/Nunito-Bold.woff2) format("woff2"),
    url(../fonts/Nunito-Bold.woff) format("woff");

}

@font-face {
  font-family: "Nunito-Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Nunito-Black"),
    url(../fonts/Nunito-Black.woff2) format("woff2"),
    url(../fonts/Nunito-Black.woff) format("woff");

}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/opensans-regular.woff) format("woff");

}

@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans-Bold"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/opensans-bold.woff) format("woff");

}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}



/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: OpenSans, sans-serif;
  color: #24201E;
  height: 100%;
}

div,
p,
h3,
h4,
h5,
h6,
li,
span {
  color: #24201E;
  font-family: OpenSans, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

p,
li {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}


h1 {
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  font-size: 64px;
}

h2 {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  margin-bottom: 35px;
}


/*блоки*/

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container-item {
  margin: 80px 0px 100px;
  padding: 0 15px;
}

.center {
  text-align: center;
}


/*кнопки*/

.button-one {
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #292929;
  background: #F8F8F8;
  padding: 15px 30px;
  border: 1px solid #F8F8F8;
  border-radius: 5px;
  text-transform: none;
}

.button-one:hover {
  color: #AE00D4;
  border: 1px solid #AE00D4;
  transition: background 0.5s ease;
}

.button-two {
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #AE00D4;
  background: #fff;
  padding: 15px 30px;
  border: 1px solid #AE00D4;
  border-radius: 5px;
  text-transform: none;
}

.button-two:hover {
  color: #fff;
  background: #AE00D4;
  border: 1px solid #fff;
  transition: background 0.5s ease;
}

.button-tree {
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  background: #AE00D4;
  padding: 15px 30px;
  border: 1px solid #AE00D4;
  border-radius: 5px;
  text-transform: none;
}

.button-tree:hover {
  border: 1px solid #9C16B9;
  background: #9C16B9;
  transition: background 0.5s ease;
}
.section-block-button{
  width: 105px;
    height: 105px;
    background-image: url("../svg/стрелка-круг-фиолетовый.svg");
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 105px 105px;
    display: block;
    position: relative;
    left: 50%;
    z-index: 100;
    bottom: 280px;

}
.section-block-button:hover{
    background-image: url("../svg/стрелка-круг-белый.svg");
    transition: background 0.5s ease;
}
/*шапкаи*/

.header {
  padding: 0 15px;
}

.header-nav {
  justify-content: space-between;
}

.header-phone {
  display: block;
  padding-top: 32px;
}

.header-phone a {
  font-weight: 700;
  font-size: 16px;
  color: #292929;
}

.header-phone a {
  text-decoration: none;
}

.header-phone a:hover {
  color: #AE00D4;
}

.header-phone_text {
  font-size: 16px;
}

/*меню в шапке*/

.nav-item a {
  font-family: 'Nunito-Bold';
  font-size: 18px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #292929 !important;
  text-transform: none !important;
}

.nav-item a:hover, .nav-item a:active, .nav-item a:focus  {
  color: #AE00D4 !important; 
}

.nav-item::after {
  position: relative;
  content: '•';
  color: #AE00D4;
  font-size: 40px;
  left: 50%;
  top: -30px;
}

.header-menu{
  background: #FFFFFF;
    border: 1px solid #D589CC;
    box-shadow: 0px 0px 10.954px rgb(41 41 41 / 10%);
    border-radius: 10px;
    width: 215px;
}
.header-menu ul> li{
  background: #F8F8F8;
  border-radius: 5px;
  margin-bottom: 12px;
}

.header-menu ul> li:hover {
  background: #FCEDFF;
  border-radius: 5px;
 
}

.header-menu ul> li > a{
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px !important;
  line-height: 19px;
  color: #292929 !important;
  padding: 5px 5px 5px 20px;
}
.header-menu ul> li > a:hover{
  color: #292929 !important;
}
.header-menu-second {
  background: none;
  box-shadow: none !important;
  left: 88% !important;
}
.header-menu-second-position {
  padding: 25px !important;
  display: block;
  position: relative !important;
  top: -80px !important;
  /*left: 92% !important;*/
  background: #FCEDFF;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
  width: 200px;
}

/*подвал*/
.footer {
  height: fit-content;
  min-height: 450px;
  background-image: url(../images/фон.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.footer-logo {
  position: relative;
  bottom: 60px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0px 20px 0px;
}


.footer-content div>ul>li a {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #24201E;
  text-decoration: none;
}
.footer-content div>ul>li a {
  color: #252220;
  text-decoration: none;
}
.footer-content_item_requisites, .footer-content_item_adress {
  font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 300px;
    margin-top: 25px;
}
.footer-content_item-title{
  font-family: 'Nunito-Bold';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 19px;
color: #24201E;
margin: 10px 0px;
}


/*1 секция юлок-баннер*/

.h1-banner {
  margin-bottom: 50px;
  margin-top: 85px;
  max-width: 555px;
}

.h1-banner-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px;
  max-width: 555px;
}

/*2 секция Направления*/
.two-section {
  margin-bottom: -1190px;
}

.two-section-img {
  position: relative;
  bottom: 866px;
  right: 66%;
  z-index: -10;
}

.uk-nav-default.trend-nav>li>a {
  background: #F8F8F8;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 17px;
  color: #292929;
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  border: 3px solid #F8F8F8;
}

.uk-nav-default.trend-nav>li.uk-active>a {
  border: 3px solid #AE00D4;
}

ul.trend-nav>li {
  min-width: 280px;
  margin-right: 20px;
}

.trend-nav-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 10.954px rgb(41 41 41 / 10%);
  border-radius: 30px;
  padding: 35px 20px 35px 35px;
  height: fit-content;
}

.trend-icon {
  margin-right: 5px;
  width: 40px;
  height: 40px;
}


.trend-nav-item>ul>li>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.trend-nav-item>ul>li>ul>li {
  background: #FCEDFF;
  border: 3px solid #FCEDFF;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 13px;
  min-width: 31%;
  text-align: center;
  margin-right: 16px;
}

.trend-nav-item>ul>li>ul>li:hover {
  background: #F8F8F8;
  border: 3px solid #AE00D4;
  transition: 0.5s ease;
}

.trend-nav-item>ul>li>ul>li a:hover {
  color: #AE00D4;
}

.trend-nav-item>ul>li>ul>li a {
  text-decoration: none;
  color: #292929;
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  padding: 25px 20px;
}

.trend-nav-item>ul>li>h4 {
  color: #292929;
  font-family: "Nunito-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-top: 36px;
  margin-bottom: 15px;
}

/*3 секция Наши преподаватели*/

.teacher-text {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #292929;
  margin-bottom: 100px;
  max-width: 748px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.card-teacher-content {
  text-align: center;
  padding: 15px 40px;
}

h4.card-teacher-title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #24201E;
}

.card-teacher-experience {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #888888;
  padding: 5px;
}

.card-teacher-description {

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #24201E;
}

.teacher-arrow {
  margin: 15px;
  width: 60px;
  height: 60px;
  fill: #AE00D4;
  padding: 22px 15px 15px 15px;
  border-radius: 50%;
  background: #F8F8F8;
  border: 2px solid #F8F8F8;
}
.teacher-arrow:hover {
  background: #fff;;
  border: 2px solid #AE00D4;
  transition: background 0.5ms;
}
.card-teacher-content > .uk-label {
  height: 40px;
  padding: 15px 30px;
  line-height: 15px;
  text-transform: none;
  background: #FFFFFF;
  box-shadow: 0px 0px 7.212px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  font-family: "Nunito-Bold";
  font-size: 12px;
}
.teacher-label-color-one{color: #FF8D44 !important;}
.teacher-label-color-two{color: #DB6C92 !important;}
.teacher-label-color-tree{color: #33C7A2 !important;}

/*4 секция Как проходят занятия*/
.section-four {
  margin-left: 60px;
}

.section-four-text {
  margin-top: 50px;
}

ul.section-four-text>li {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 55px;

}

/*5 секция Начните бесплатно*/
.section-five-title {
  max-width: 435px;
  margin-bottom: 40px;
}

.section-five-text {
  max-width: 435px;
  line-height: 28px;
  margin-bottom: 45px;
}

.section-five-stages {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

}

.section-five-stages>div>span {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-right: 15px;
  display: block;
  top: -6px;
  position: relative;
}

.section-five-stages>div {
  display: flex;
  flex-wrap: nowrap;
}

.section-five-stages-item-text {
  font-family: 'Nunito-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.section-five-form {
  background: #AE00D4;
  padding: 30px 60px;
  max-width: 500px;
  color: white;
  border-radius: 20px;
}

.section-five-form>fieldset>legend {
  font-family: 'Nunito-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}

.section-five-form>fieldset>div>input {
  padding: 30px;
  border-radius: 5px;
}

.section-five-form>fieldset>div>input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #888888;
}

.section-five-form>fieldset>div>input:-moz-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #888888;
}

.section-five-form>fieldset>div>input::-moz-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #888888;
}

.section-five-form>fieldset>div>input:-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #888888;
}

.section-five-form>fieldset>div.uk-form-controls {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 30px;
}

.section-five-form>fieldset>div.uk-form-controls a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "OpenSans-Bold";
  font-weight: 700;
}

/*6 секция Почему надо заниматься у нас*/
.section-six-title-second {
  font-family: 'Nunito-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: #AE00D4;
}

.section-six-title-second {
  max-width: 445px;
}

.section-six-text-second {
  margin-top: 40px;
}

/*7 секция Почему надо заниматься у нас*/
.seven-section {
  margin-bottom: -1575px
}

.seven-section-block {
  background-color: #AE00D4;
  border-radius: 30px;
  padding: 70px 60px;
}

.seven-section-block h3,
.seven-section-block p {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.seven-section-block-content {
  max-width: 520px
}
.seven-section-block-sertificat{
  display: block;
    position: relative;
    left: 55%;
    bottom: -870px;
}

.seven-section-img {
  position: relative;
  left: 55%;
  bottom: 0px;
  z-index: -10;
}


/*8  секция табы с отзывами*/

li.uk-active>a.tab-button-reviews {
  background-color: #F8F8F8 !important;
  color: #AE00D4 !important;
  border: 2px solid #AE00D4;
  border-radius: 20px 20px 0 0 !important;
  padding: 20px 55px !important;
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
}

a.tab-button-reviews {
  background-color: #F8F8F8 !important;
  color: #24201D !important;
  border: 2px solid #fff;
  border-radius: 20px 20px 0 0 !important;
  padding: 20px 55px !important;
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 30px;
  text-align: center;
  text-transform: none !important;
}
.reviews-text li > div > div > img {
  width: 90px;
  border-radius: 40%;
  padding-bottom: 22px;
  display: block;
  position: relative;
  left: 33%;
  top: -70px;
}
.reviews-text li  {
  border: 8px solid #fff;
}
.reviews-text li > div {
  padding: 30px 30px;
  background: #F8F8FC;
  border: 3px solid #FFFFFF;
  border-radius: 20px;
}
.reviews-text li > div > .uk-card-media-top {
  height: 60px;
}
.reviews-content{
  display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    min-height: 130px;
}
.reviews-text li > div > div > p{
  font-family: 'OpenSans';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #211D1D
}
.reviews-text li > div > div  > p.uk-card-title{
  font-family: 'Nunito-Bold';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #211D1D;
padding-top: 20px;
}
.reviews-video  {
  border: 2px solid transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.reviews-video:hover {
  border: 2px solid #fff;
  background: #AE00D4;  
  transition: background 0.5ms;

}

.reviews-video a {
  border: 25px solid transparent;
  border-left: 35px solid #e5e5e5;
  margin-left: 27px;
  margin-top: 13px;
  display: block;
}



/*9  секция Хотите бесплатно заниматься с детьми сами?*/
.section-nine {
  background: #FFFFFF;
  box-shadow: 0px 0px 10.954px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 108%;
  background-image: url("../images/Беслатное-занятие-фон.png");
  max-height: 470px
   
}
.position-nine-button {
  left: 66%;
  bottom: 225px;
}
.section-nine h3 {
  max-width: 635px;

}

.section-nine>ul>li {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #24201D;
}
/*10  секция Остались вопросы?*/
.section-ten-second-text {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #292929;
}
.section-ten-second > ul{
  margin: 40px 0px;
}
.section-ten-second > ul > li {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #292929;
  margin-bottom: 20px;
  display: flex;
}
.section-ten-second > ul > li > span {
  font-family: 'Nunito-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 65px;
  color: #292929;
  margin-right: 24px;
  display: block;
  position: relative;
  bottom: 20px;
}

/*11  секция аккордеон с вопросами-ответами*/
.accordion-answer {
  background: #FFFFFF;
  box-shadow: 0px 0px 10.954px rgba(41, 41, 41, 0.1);
  margin-top: 80px;
  margin-bottom: 130px;
  border-radius: 20px;
  padding: 40px;
}

.accordion-answer ul>li {
  border-bottom: 1px solid #292929;
  padding: 10px 0 30px 0px;
}

.accordion-answer ul>li>a {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #292929;

}

ul.accordion-answer>li>div>p {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
  padding-right: 30px;
  text-align: justify;
}